* {
    font-family: 'Nova Mono', monospace;
}

o-primary-button {
    color: black;
    background-color: white;
    border-width: 0.3rem;
    border-color:gold;
}

o-primary-button--disabled {
    color: white;
    background-color: black;
    border-width: 0.3rem;
    border-color:gold;
}

.c-ui {
    width:100%;
    height:100%;
}